html {
  /* overflow: -moz-scrollbars-vertical !important; */
  overflow-y: scroll !important;;
}

.ParaHeader {
  /* Roboto Slab */
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}
.padding-top {
  padding-top: 16px;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.center-aligned {
  text-align: center;
}

.hidden {
  display: none !important;
}


.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}




div[role='tabpanel'] > div {
  padding: 4px
}
