body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0px !important; /* that the ugly padding on dialogs? */

  /*
  background-image: url('body-background.png');
  */
  background-repeat: no-repeat;          /* повторять по вертикали */
  background-size: 100% auto;           /* ширина 100%, высота автоматически */
  background-position: top center;      /* выравнивание по центру по горизонтали */
  background-attachment: scroll;        /* фоновое изображение прокручивается вместе со страницей */
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
